.modal {
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    &.from-bottom-modal {
        align-items: flex-end;
        &.active {
            transition-delay: $duration;
            .modal-body {
                transform: translateY(0);
            }
        }
        .modal-body {
            padding: 32px 24px;
            border-top-left-radius: 32px;
            border-top-right-radius: 32px;
            transform: translateY(100%);
            transition-delay: $duration;

            @include tablet {
                padding: 32px;
            }
        }
    }
    &.rtl-modal {
        left: 100%;
        transition:
            left $duration,
            opacity $duration;
        right: initial;
        width: 100vw;

        &.active {
            left: 0;
        }

        .modal-body {
            height: 100%;
            padding: 24px;
            display: flex;
            flex-direction: column;

            @include tablet {
                padding: 32px;
            }
        }
    }
    &.interaction-alert-modal {
        &.active {
            transition-delay: $duration;
        }

        .modal-body {
            width: calc(100vw - 132px);
            min-width: 270px;
            max-width: 480px;
            text-align: center;
            padding-top: 20px;
            border-radius: 16px;
            background-color: light-dark(#fff, $grey-bg-darkmode);

            @include tablet {
                padding-top: 32px;
                border-radius: 24px;
            }
        }

        .modal-title {
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.43px;
            font-weight: 600;

            @include tablet {
                font-size: 24px;
                line-height: 1.2;
                letter-spacing: initial;
            }
        }

        .modal-subtitle {
            font-size: 13px;
            line-height: 1.38;
            letter-spacing: -0.08px;

            @include tablet {
                font-size: 18px;
                line-height: 1.4;
                letter-spacing: initial;
            }
        }

        .modal-controls {
            margin-top: 16px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: light-dark($grey-border-lightmode, $grey-border-darkmode);
            border-top: 1px solid light-dark($grey-border-lightmode, $grey-border-darkmode);
            gap: 1px;

            @include tablet {
                margin-top: 32px;
                border-width: 2px;
                gap: 2px;
            }

            :is(a, button) {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 44px;
                font-size: 17px;
                letter-spacing: -0.43px;
                background-color: light-dark(#fff, $grey-bg-darkmode);

                @include tablet {
                    letter-spacing: initial;
                    font-size: 20px;
                    height: 64px;
                }

                &:nth-child(1) {
                    color: light-dark($grey-text-lightmode, $grey-text-darkmode);
                }
                &.alert-btn {
                    color: $status-red;
                    font-weight: 600;
                }
            }
        }
    }

    &.final-modal {
        &.active {
            .state-group {
                opacity: 1;
            }

            .btns {
                opacity: 1;
            }
        }

        .modal-body {
            height: 100vh;
            height: 100svh;
            padding: 24px;
            display: flex;
            flex-direction: column;

            @include tablet {
                padding: 32px;
            }
        }
        .btns {
            width: 100%;
            opacity: 0;
            transition: opacity $duration;
            transition-delay: $duration;
        }
    }

    &.modal-with-banner {
        .modal-body {
            padding: 0;
        }
        .modal-head {
            position: absolute;
            top: 24px;
            left: 24px;
            right: 24px;
            z-index: 3;
            color: #fff;
            width: auto;

            @include tablet {
                top: 32px;
                left: 32px;
                right: 32px;
            }
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: light-dark(rgba(#000, 0.2), rgba(#000, 0.6));
    }

    &-body {
        position: relative;
        width: 100%;
        z-index: 2;
        overflow-y: auto;
        background-color: light-dark($body-bg-lightmode, $body-bg-darkmode);
        scrollbar-width: none;
        transition: $duration;
        &::-webkit-scrollbar {
            display: none;
        }

        > *:has(+ .btn) {
            margin-bottom: auto;
        }
        > *:has(+ .btns) {
            margin-bottom: auto;
        }
    }

    &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        min-height: 24px; //svg height

        @include tablet {
            min-height: 32px; // svg height
        }

        &:has(.left-group + .center-group) {
            display: grid;
            grid-template-columns: 24px auto 24px;

            @include tablet {
                grid-template-columns: 32px auto 32px;
            }
        }

        &-title {
            @include tablet {
                font-size: 22px;
            }
        }

        .right-group {
            &:only-child {
                margin-left: auto;
            }
            &:last-child {
                grid-column: 3;
            }
        }

        + .modal-title {
            margin-top: 16px;
            @include tablet {
                margin-top: 24px;
            }
        }
        + .modal-step-progress {
            margin-top: 20px;
            @include tablet {
                margin-top: 24px;
            }
        }
    }

    &-text {
        padding-top: 16px;
        padding-bottom: 32px;
        h3 {
            margin-top: 24px;
            font-weight: 500;
        }
        p {
            margin-top: 8px;
            color: $grey-text;
        }
    }

    &-step-progress {
        display: flex;
        gap: 8px;
        width: 100%;
        align-items: flex-end;
        span {
            height: 1px;
            flex-grow: 1;
            background-color: light-dark($grey-border-lightmode, $grey-border-darkmode);

            @include tablet {
                height: 2px;
            }

            &.active {
                height: 2px;
                background-color: light-dark(#000, #fff);

                @include tablet {
                    height: 4px;
                    border-radius: 2px;
                }
            }
        }

        + .modal-title {
            margin-top: 18px;
        }
    }

    &-title {
        font-size: 32px;
        font-weight: 400;
        line-height: 1.25;

        @include tablet {
            font-size: 36px;
        }

        &.big {
            font-size: 40px;
            line-height: 1.2;

            @include tablet {
                font-size: 44px;
            }

            + .modal-subtitle {
                margin-top: 4px;
                color: $text-color;

                @include tablet {
                    margin-top: 8px;
                }
            }
        }

        &.text-center {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-subtitle {
        margin-top: 8px;
        color: $grey-text;

        @include tablet {
            margin-top: 12px;
        }
    }

    .btns {
        margin-top: auto;
        display: grid;
        gap: 16px;

        @include tablet {
            grid-template-columns: 1fr 1fr;
            gap: 24px;
        }

        .btn {
            &:only-child {
                grid-column: span 2;
            }
        }
    }
}

.fridges-list {
    margin-top: 24px;

    @include tablet {
        margin-top: 32px;
    }
}
.fridge-item {
    display: flex;
    align-items: center;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 16px;

        @include tablet {
            margin-bottom: 24px;
        }
    }

    &.selected {
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5 12.7143L9.2 17L19 7' stroke='black' stroke-width='1.4' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

            .color-scheme-dark &,
            .color-scheme-system-dark & {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5 12.7143L9.2 17L19 7' stroke='white' stroke-width='1.4' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 0;
        width: 24px;
        height: 24px;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%23888888' stroke-width='1.4' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

        @include tablet {
            width: 32px;
            height: 32px;
        }
    }

    &-thumb {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: light-dark($grey-bg-lightmode, #3d3d3d);
        margin-right: 20px;
        flex-shrink: 0;

        @include tablet {
            width: 80px;
            height: 80px;
            margin-right: 24px;
        }
        img {
            width: 100%;
            max-width: 36px;

            @include tablet {
                max-width: 48px;
            }
        }
    }
    &-title {
        @include tablet {
            font-size: 20px;
        }
    }
    &-model {
        margin-top: 4px;
        font-size: 12px;
        line-height: 1.33;
        color: $grey-text;
        @include tablet {
            margin-top: 8px;
            font-size: 16px;
            line-height: 1.2;
        }
    }

    input:checked + .fridge-item-radiobox::after {
        opacity: 1;
    }

    &-radiobox {
        width: 24px;
        height: 24px;
        margin-left: auto;
        border-radius: 50%;
        position: relative;

        @include tablet {
            width: 32px;
            height: 32px;
        }

        &::before,
        &::after {
            content: '';
            inset: 0;
            position: absolute;
            border-radius: 50%;
        }
        &::before {
            border: 1px solid light-dark($grey-border-lightmode, $grey-border-darkmode);

            @include tablet {
                border-width: 2px;
            }
        }
        &::after {
            opacity: 0;
            transition: $duration;
            border: 8px solid light-dark(#000, #fff);
        }
    }
}

.form {
    padding-top: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
        padding-top: 32px;
    }

    &:has(.input-wrapper:first-child) {
        padding-top: 32px;

        @include tablet {
            padding-top: 40px;
        }
    }

    .text-arrow-wide-btn {
        &:not(:first-child) {
            margin-top: 24px;

            @include tablet {
                margin-top: 32px;
            }
        }
    }

    .tabs-group {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .tabs {
        padding-top: 24px;
        padding-bottom: 24px;
        flex-grow: 1;
        display: flex;

        @include tablet {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    .tab {
        flex-direction: column;
        flex-grow: 1;
        max-width: 100%;
    }

    .text-btn {
        margin-top: 40px;
    }

    .checkboxes {
        position: relative;

        + .checkboxes {
            margin-top: 32px;
            padding-top: 32px;

            @include tablet {
                margin-top: 40px;
                padding-top: 40px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -24px;
                right: -24px;
                height: 1px;
                background-color: light-dark($grey-border-lightmode, $grey-border-darkmode);

                @include tablet {
                    left: -32px;
                    right: -32px;
                    height: 2px;
                }
            }
        }
    }

    > .btn:last-child {
        margin-top: auto;
    }
}

#zone-params-modal {
    .zone-humidity-group {
        margin-bottom: auto;
    }
    .text-arrow-wide-btn {
        margin-top: 24px;
    }
}

.state-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.success {
        padding-top: 216px;
        flex-grow: 1;
        transition: opacity $duration;
        transition-delay: $duration;
        opacity: 0;

        .state-group-icon {
            background-color: $status-green;
        }
    }

    &.error {
        padding-top: 232px;
        .state-group-icon {
            background-color: $status-red;
        }
    }

    &.big {
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: initial;

        &.success {
            .state-group-icon {
                color: $status-green;
                box-shadow: 0 0 0 40px $status-green inset;
            }
        }
        &.warning {
            padding-top: 48px;
            .state-group-icon {
                color: $status-yellow;
                box-shadow: 0 0 0 40px $status-yellow inset;
            }
        }

        .state-group-icon {
            width: 354px;
            height: 354px;
            background-color: initial;

            @include maxw375 {
                width: 320px;
                height: 320px;
            }

            svg {
                width: 100px;
                height: 100px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: light-dark(#fff, #000);
        position: relative;

        @include tablet {
            width: 144px;
            height: 144px;
        }

        svg {
            width: 40px;
            height: 40px;

            @include tablet {
                width: 64px;
                height: 64px;
            }
        }
    }

    &-title {
        margin-top: 24px;
        font-size: 24px;
        line-height: 1.33;
        text-align: center;

        @include tablet {
            margin-top: 32px;
            font-size: 32px;
            line-height: 1.4;
        }
    }
}

.favorites-list {
    .product-item {
        &::before {
            content: '';
            position: absolute;
            top: 20px;
            right: 20px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987Z' fill='%23802539'/%3E%3C/svg%3E%0A");
            background-size: 100%;
            width: 24px;
            height: 24px;
            z-index: 2;
            pointer-events: none;

            @include tablet {
                width: 32px;
                height: 32px;
                right: 24px;
                top: 24px;
            }
        }
    }
}

:is(#unload-bottle-info-modal, #load-bottle-info-modal, #bottle-info-modal) {
    &.active {
        .btns {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .btns {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 24px;
        opacity: 0;
        pointer-events: none;
        transition: opacity $duration;
        transition-delay: $duration;
        z-index: 4;

        @include tablet {
            padding: 32px;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(
                180deg,
                light-dark(rgba(#fff, 0), rgba(#262626, 0)) 0%,
                light-dark(rgba(#fff, 1), rgba(#262626, 1)) 24px
            );

            @include tablet {
                background: linear-gradient(
                    180deg,
                    light-dark(rgba(#fff, 0), rgba(#262626, 0)) 0%,
                    light-dark(rgba(#fff, 1), rgba(#262626, 1)) 32px
                );
            }
        }
    }

    .btn {
        z-index: 2;
    }
}

#load-bottle-info-modal {
    .block-bottle-info {
        .bottle-body {
            padding-bottom: 192px;

            @include tablet {
                padding-bottom: 144px;
            }
        }
    }

    .btns {
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(
                180deg,
                light-dark(rgba(#fff, 0), rgba(#262626, 0)) 0%,
                light-dark(rgba(#fff, 1), rgba(#262626, 1)) 24px
            );

            @include tablet {
                background: linear-gradient(
                    180deg,
                    light-dark(rgba(#fff, 0), rgba(#262626, 0)) 0%,
                    light-dark(rgba(#fff, 1), rgba(#262626, 1)) 32px
                );
            }
        }
    }
}

:is(#take-bottle-drawer-modal, #load-bottle-drawer-modal) {
    .circle {
        margin: 40px auto 0;
        max-width: 100%;

        @include tablet {
            margin-top: 96px;
        }
    }
}

.swap-group {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bottle-placeholder {
        min-height: 250px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .placeholder-text {
        position: absolute;
        margin: auto;
        color: light-dark($grey-text-lightmode, $grey-text-darkmode);
        text-align: center;
        opacity: 0;
        transition: $duration;

        &.active {
            opacity: 1;
        }
    }

    .divider {
        margin-top: 24px;
        margin-bottom: 24px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -24px;
            right: -24px;
            height: 1px;
            background-color: light-dark($grey-border-lightmode, $grey-border-darkmode);
        }

        span {
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 50%;
            color: light-dark($grey-text-lightmode, $grey-text-darkmode);
            position: relative;
            z-index: 2;
            border: 1px solid light-dark($grey-border-lightmode, $grey-border-darkmode);
        }
    }

    .product-item {
        opacity: 0;
        pointer-events: none;
        transition: $duration;
        transition-delay: $duration * 1.5;

        &.active {
            opacity: 1;
        }

        &-info {
            text-align: center;
            justify-content: center;
        }
    }
}

.bottle-form {
    padding-top: 24px;

    .group-title {
        font-weight: 500;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    + .btn {
        margin-top: 40px;
    }
}

#load-bottle-welcome-modal {
    // .modal-head {
    //     z-index: 2;
    //     color: #fff;

    //     &-title {
    //         transition: $duration;
    //     }
    // }

    .icon-btn {
        color: light-dark($grey-lightmode, $grey-darkmode);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid light-dark($grey-border-lightmode, $grey-border-darkmode);
    }

    // .scanner-dummy {
    //     position: absolute;
    //     z-index: 1;
    //     inset: -24px;
    //     img {
    //         width: 100%;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         transition: $duration;

    //         &.full {
    //             opacity: 0;
    //         }

    //         &.active {
    //             opacity: 1;
    //         }
    //     }
    // }

    // .btn {
    //     position: fixed;
    //     bottom: 24px;
    //     left: 24px;
    //     right: 24px;
    //     width: auto;
    //     z-index: 3;
    //     opacity: 0;
    //     pointer-events: none;
    //     transition: $duration;

    //     &.active {
    //         opacity: 1;
    //         pointer-events: auto;
    //     }
    // }

    .barcode {
        margin: 88px auto;
        width: 100%;
        max-width: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        min-height: 236px;
        padding: 24px;
        background-color: light-dark($grey-bg-lightmode, $grey-bg-darkmode);
    }

    .barcode-annotation {
        @extend .modal-subtitle, .text-center;
    }

    .processing {
        background-color: light-dark(#fff, #000);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: $duration;
        position: fixed;
        inset: -24px;

        &.active {
            opacity: 1;
        }

        svg {
            animation: rotate 2s linear infinite;
        }
        span {
            margin-top: 16px;
            font-size: 24px;
            line-height: 1.33;
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

#login-modal {
    .form {
        flex-grow: 0;
        margin-bottom: 0;
    }

    .submit-btn {
        margin-top: 40px;
    }

    .social-group {
        margin-top: 24px;
        margin-bottom: auto;

        @include tablet {
            margin-top: 32px;
        }

        &-label {
            color: light-dark($grey-lightmode, $grey-darkmode);
            text-align: center;

            @include tablet {
                font-size: 20px;
            }
        }
        &-btns {
            margin-top: 24px;
            display: grid;
            width: 100%;
            gap: 16px;

            @include tablet {
                margin-top: 32px;
            }

            svg {
                width: 25px;
                height: 24px;

                @include tablet {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    .forgot-password-btn {
        margin-top: 32px;
        margin-left: auto;
        color: light-dark($grey-lightmode, $grey-darkmode);

        @include tablet {
            margin-top: 40px;
        }
    }
}

#register-modal {
    .form {
        flex-grow: 0;
        margin-bottom: 0;
    }
    .btn {
        margin-top: 40px;
        margin-bottom: auto;
    }
}

.verification-group {
    margin-top: 96px;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;

    input {
        display: block;
        width: 100%;
        height: 48px;
        padding-bottom: 16px;
        font-size: 24px;
        line-height: 1.33;
        font-weight: 600;
        color: light-dark($text-color-lightmode, $text-color-darkmode);
        background-color: transparent;
        border: 0;
        transition: $duration;
        border-bottom: 1px solid light-dark($grey-border-lightmode, $grey-border-darkmode);
        appearance: none;
        -moz-appearance: textfield;
        text-align: center;

        @include tablet {
            font-size: 40px;
            border-width: 2px;
            height: 64px;
        }

        &:focus {
            border-bottom: 2px solid light-dark(#000, #fff);
        }

        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

#unauthorized-unload-modal {
    .modal-head {
        + .modal-title {
            margin-top: 32px;
        }
    }

    .modal-title {
        transition: $duration;
        opacity: 0;
        &.active {
            opacity: 1;
        }
    }

    .taken-products {
        margin-top: 64px;
        margin-left: -24px;
        margin-right: -24px;
        width: calc(100% + 48px);
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 102px;
            z-index: 2;
        }
        &::before {
            left: 0;

            .color-scheme-light &,
            .color-scheme-system-light & {
                background: linear-gradient(270deg, rgba(#fff, 0) 0%, rgba(#fff, 0.4) 100%);
            }
            .color-scheme-dark &,
            .color-scheme-system-dark & {
                background: linear-gradient(270deg, rgba(#000, 0) 0%, rgba(#000, 0.4) 100%);
            }
        }
        &::after {
            right: 0;

            .color-scheme-light &,
            .color-scheme-system-light & {
                background: linear-gradient(90deg, rgba(#fff, 0) 0%, rgba(#fff, 0.4) 100%);
            }
            .color-scheme-dark &,
            .color-scheme-system-dark & {
                background: linear-gradient(90deg, rgba(#000, 0) 0%, rgba(#000, 0.4) 100%);
            }
        }

        &-inner {
            display: flex;
            gap: 4px;
            padding-left: 24px;
            padding-right: 24px;
            width: 100%;
            overflow-y: auto;
            scrollbar-width: none;
        }
    }

    .product-item {
        max-width: 190px;
        flex-shrink: 0;

        @include tablet {
            max-width: 280px;
        }

        &-info {
            justify-content: center;
            text-align: center;
        }
    }
}

.counter {
    margin-top: 64px;
    padding-top: 64px;
    padding-bottom: 72px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: $duration;

    &.active {
        opacity: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -24px;
        right: -24px;
        height: 1px;
        background-color: light-dark($grey-border-lightmode, $grey-border-darkmode);
    }
    &-numbers {
        font-size: 64px;
        line-height: 1;
    }
    &-annotation {
        margin-top: 16px;
        color: light-dark($grey-text-lightmode, $grey-text-darkmode);
    }
}
