.header {
    padding-top: 24px;

    @include tablet {
        padding-top: 32px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.fridge-selector {
    display: flex;
    align-items: center;
    font-weight: 500;

    @include tablet {
        font-size: 22px;
    }

    &::after {
        content: '';
        width: 11px;
        height: 6px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 6' fill='none'%3E%3Cpath d='M9.5 1L5.5 5L1.5 1' stroke='%23888888' stroke-width='1.4' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: 100% 100%;
        flex-shrink: 0;
        margin-left: 10px;

        @include tablet {
            margin-left: 16px;
            width: 16px;
            height: 9px;
        }
    }
}

.block-fridge {
    padding-top: 32px;

    @include tablet {
        padding-top: 40px;
    }

    .capacity-head {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
        gap: 16px;
    }

    .capacity-status {
        display: flex;
        align-items: baseline;
        color: light-dark($grey-lightmode, $grey-darkmode);
        font-size: 24px;
        line-height: 1.33;

        @include tablet {
            font-size: 28px;
            line-height: 1.2;
        }

        span {
            font-size: 64px;
            line-height: 1;
            color: light-dark($text-color-lightmode, $text-color-darkmode);
            margin-right: 8px;
        }
    }

    .capacity-settings-btn {
        position: relative;
        top: -6px;
    }

    .capacity-progress {
        margin-top: 12px;
        width: 100%;
        height: 4px;
        background-color: light-dark($grey-bg-lightmode, $grey-bg-darkmode);
        position: relative;
        border-radius: 4px;

        @include tablet {
            height: 6px;
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            border-radius: 4px;

            &.green {
                background-color: $status-green;
            }
            &.yellow {
                background-color: $status-yellow;
            }
            &.red {
                background-color: $status-red;
            }
        }
    }
    .fridge-control-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 64px;
        border-radius: 64px;

        @include tablet {
            height: 80px;
            border-radius: 80px;
        }

        &.black {
            background-color: light-dark(#000, #fff);
            color: light-dark(#fff, #000);
        }
        &.grey {
            background-color: light-dark($grey-bg-lightmode, $grey-bg-darkmode);
            color: light-dark($text-color-lightmode, $text-color-darkmode);
        }
    }

    .btn-label {
        margin-top: 12px;
        text-align: center;
    }

    .capacity-left {
        margin-top: 12px;

        @include tablet {
            margin-top: 16px;
            font-size: 20px;
        }

        span {
            font-weight: 600;
        }
    }

    .fridge-controls {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 12px;
    }

    .zones-list {
        margin-top: 32px;
        border-top: 1px solid light-dark($grey-border-lightmode, $grey-border-darkmode);
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .zone {
        &:not(:last-child) {
            margin-bottom: 32px;

            @include tablet {
                margin-bottom: 40px;
            }
        }

        &.red {
            color: $wine-red;
        }
        &.white {
            color: $wine-white;
        }
        &.rose {
            color: $wine-rose;
        }

        &-title {
            @include tablet {
                font-size: 20px;
            }
        }
        &-params {
            margin-top: 8px;
            display: flex;
            gap: 32px;
            padding-left: 16px;
            position: relative;

            @include tablet {
                margin-top: 16px;
                padding-left: 24px;
                gap: 48px;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 12px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: currentColor;

                @include tablet {
                    top: 10px;
                    width: 12px;
                    height: 12px;
                }
            }
        }

        &-drawers {
            margin-top: 20px;
            margin-left: -16px;
            margin-right: -16px;

            @include tablet {
                margin-top: 24px;
            }
        }
    }

    .params-group {
        &-value {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.33;
            color: light-dark($text-color-lightmode, $text-color-darkmode);

            @include tablet {
                font-size: 32px;
                line-height: 1.2;
            }
        }
        &-label {
            font-size: 12px;
            line-height: 1.33;
            color: light-dark($grey-text-lightmode, $grey-text-darkmode);

            @include tablet {
                font-size: 16px;
            }
        }
    }

    .drawer-item {
        padding: 16px;
        background-color: light-dark($grey-bg-lightmode, $grey-bg-darkmode);
        border-radius: 16px;
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            padding: 24px;
            border-radius: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 4px;

            @include tablet {
                margin-bottom: 8px;
            }
        }

        &-info {
            position: relative;
        }
        &-title {
            font-size: 12px;
            line-height: 1.33;
            color: light-dark($grey-text-lightmode, $grey-text-darkmode);

            @include tablet {
                font-size: 18px;
                line-height: 1.2;
            }
        }
        &-amount {
            margin-top: 4px;
            font-weight: 600;
            color: light-dark($text-color-lightmode, $text-color-darkmode);

            @include tablet {
                margin-top: 8px;
                font-size: 22px;
                line-height: 1.2;
            }
        }

        &-capacity {
            display: flex;
            gap: 8px;

            @include tablet {
                gap: 12px;
            }

            span {
                display: block;
                width: 12px;
                height: 44px;
                background-color: currentColor;
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 44'%3E%3Cpath d='M2.06748e-06 42L2.68484e-05 18.028C2.68484e-05 15.6456 1.16087 13.6196 2.89769 12.5109C3.21747 12.3068 3.43629 11.9661 3.43629 11.5867V1.00002C3.43629 0.447728 3.88402 9.72057e-06 4.43631 2.17113e-05L7.56358 8.96071e-05C8.11586 0.000101597 8.56356 0.447814 8.56356 1.00009V11.5866C8.56356 11.966 8.78241 12.3066 9.10221 12.5108C10.8391 13.6193 12 15.6453 12 18.0278V42C12 43.1046 11.1046 44 10 44H2C0.895432 44 0 43.1046 2.06748e-06 42Z' fill='%23currentColor'/%3E%3C/svg%3E%0A");
                mask-size: 100% 100%;

                @include tablet {
                    width: 20px;
                    height: 74px;
                }
            }

            br {
                display: none;
                ~ span {
                    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='-23.2958' y1='5.66539' x2='12.9565' y2='-11.2393' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-21.7637' y1='8.95103' x2='14.4887' y2='-7.9537' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-12.5711' y1='28.6644' x2='23.6812' y2='11.7597' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-11.039' y1='31.9501' x2='25.2133' y2='15.0453' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-18.6994' y1='15.5226' x2='17.5529' y2='-1.38216' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-9.50689' y1='35.2357' x2='26.7454' y2='18.331' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-17.1674' y1='18.8082' x2='19.0849' y2='1.90348' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-7.97479' y1='38.5216' x2='28.2775' y2='21.6169' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-20.2316' y1='12.2369' x2='16.0207' y2='-4.66781' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-6.44305' y1='41.8067' x2='29.8093' y2='24.902' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-15.6354' y1='22.0934' x2='20.6169' y2='5.18864' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-4.91076' y1='45.0921' x2='31.3416' y2='28.1874' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-14.1032' y1='25.3795' x2='22.1491' y2='8.47477' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3Cline x1='-3.37884' y1='48.378' x2='32.8735' y2='31.4733' stroke='%23D1D1D1' stroke-width='1.4'/%3E%3C/svg%3E%0A");
                }
            }
        }
    }
}

.fridge {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-photo {
        img {
            max-width: 103px;
        }
    }
    &-title {
        margin-top: 16px;
        font-size: 32px;
        line-height: 1.25;

        @include tablet {
            margin-top: 24px;
            font-size: 36px;
            line-height: 1.2;
        }
    }
    &-model {
        margin-top: 4px;
        color: $grey-text;

        @include tablet {
            margin-top: 8px;
        }
    }

    &-controls {
        margin-top: 32px;
        margin-left: -16px;
        margin-right: -16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
        align-self: stretch;

        @include tablet {
            gap: 8px;
        }
    }

    &-control-btn {
        padding: 20px 16px 16px;
        border-radius: 16px;
        background-color: light-dark($grey-bg-lightmode, $grey-bg-darkmode);
        color: light-dark($text-color-lightmode, $text-color-darkmode);

        @include tablet {
            padding: 24px;
        }

        span {
            margin-top: 12px;
            display: block;
            text-align: left;

            @include tablet {
                font-size: 20px;
            }
        }
    }
    &-zones {
        margin-top: 32px;
        width: 100%;
        &-label {
            font-weight: 500;
            color: $grey-text;

            @include tablet {
                font-size: 22px;
            }
        }
        &-list {
            margin-top: 12px;
            display: grid;
            width: 100%;
            gap: 16px;

            @include tablet {
                margin-top: 24px;
                gap: 24px;
            }
        }
    }

    &-zone {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            font-size: 22px;
        }

        &-icon {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: light-dark($grey-bg-lightmode, $grey-bg-darkmode);
            color: light-dark($text-color-lightmode, $text-color-darkmode);
            flex-shrink: 0;
            margin-right: 16px;
            border-radius: 50%;

            @include tablet {
                width: 64px;
                height: 64px;
                margin-right: 24px;
            }
        }

        &-type {
            color: light-dark($grey-text-lightmode, $grey-text-darkmode);
            margin-left: auto;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                width: 24px;
                height: 24px;
                margin-left: 12px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%23888888' stroke-width='1.4' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-size: 100% 100%;
                flex-shrink: 0;

                @include tablet {
                    width: 32px;
                    height: 32px;
                    margin-left: 16px;
                }
            }
        }
    }
}

#fridge-selector-modal {
    .modal-body {
        .color-scheme-dark &,
        .color-scheme-system-dark & {
            background-color: #262626;
        }
    }

    .fridge-item {
        &::after {
            content: none;
        }
        &.selected {
            &::after {
                content: '';
            }
        }
    }
}

#fridge-ligting-modal {
    .fridge-lighting-color-group {
        margin-top: 32px;
        padding-top: 32px;
    }
}

#fridge-info-modal {
    .modal-body {
        padding-bottom: 32px;

        .color-scheme-dark & {
            background: linear-gradient(180deg, #262626 0%, #000 100%);
        }
        .color-scheme-system-dark & {
            background: linear-gradient(180deg, #262626 0%, #000 100%);
        }
    }
}
