.block-bottle-info {
    height: 100%;
    display: flex;
    flex-direction: column;

    // same as drawer
    .bottle-head {
        display: flex;
        padding: 72px 24px 68px;
        height: 494px;
        position: relative;
        overflow: hidden;
        flex-shrink: 0;

        @include tablet {
            padding: 72px 32px 68px;
            height: 100vw;
            max-height: 720px;
        }

        &-banner {
            position: absolute;
            inset: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:before {
                content: '';
                position: absolute;
                inset: 0;
                background: linear-gradient(180deg, rgba(#000, 0) 0%, rgba(#000, 0.8) 100%);
                z-index: 2;
            }
        }

        &-info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: flex-end;
            color: #fff;
            position: relative;
            z-index: 4;
            width: 100%;
        }
    }

    .bottle-title {
        font-size: 40px;
        line-height: 1.2;
        width: 100%;
    }
    .bottle-subtitle {
        margin-top: 4px;
        width: 100%;
        margin-bottom: 16px;
    }

    .bottle-rating {
        display: flex;
        align-items: center;
        margin-right: 24px;
        &::before {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 3L14.781 8.59516L21 9.4979L16.5 13.8507L17.562 20L12 17.0952L6.438 20L7.5 13.8507L3 9.4979L9.219 8.59516L12 3Z' fill='white'/%3E%3C/svg%3E%0A");
            background-size: 100%;
            flex-shrink: 0;
            margin-right: 4px;
        }
    }

    .bottle-btns {
        margin-top: 20px;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 12px;
        width: 100%;

        .btn {
            &.white-btn {
                background-color: #fff;
                color: #000;
            }
        }
    }

    :is(.bottle-body, .drawer) {
        margin-top: -44px;
        border-top-left-radius: 44px;
        border-top-right-radius: 44px;
        padding-top: 32px;
        padding-bottom: 116px;
        background-color: light-dark($body-bg-lightmode, #262626);
        position: relative;
        z-index: 3;
        flex-grow: 1;

        @include tablet {
            padding-bottom: 144px;
        }
    }

    .info-group {
        padding-left: 24px;
        padding-right: 24px;

        @include tablet {
            padding-left: 32px;
            padding-right: 32px;
        }

        &:not(:last-child) {
            padding-bottom: 32px;
            border-bottom: 1px solid light-dark($grey-border-lightmode, $grey-border-darkmode);
        }
        &:not(:first-child) {
            padding-top: 32px;
        }

        &-title {
            font-weight: 500;

            @include tablet {
                font-size: 22px;
            }
        }

        &-content {
            margin-top: 10px;

            p {
                color: light-dark($grey-text-lightmode, $grey-text-darkmode);
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;

                &:not(:first-child) {
                    margin-top: 32px;
                }
            }

            strong,
            b {
                font-weight: 500;
                color: light-dark($text-color-lightmode, $text-color-darkmode);
            }
        }
    }

    .info-params {
        display: flex;
        gap: 32px;
    }

    .param-item {
        &:has(.drawer-position) {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
        }

        &-value {
            font-size: 24px;
            line-height: 1.33;
            font-weight: 600;
            @include tablet {
                font-size: 32px;
            }
        }
        &-title {
            font-size: 12px;
            line-height: 1.33;
            color: light-dark($grey-text-lightmode, $grey-text-darkmode);

            @include tablet {
                margin-top: 4px;
                font-size: 16px;
                line-height: 1.2;
            }
        }
    }

    .drawer-position {
        color: #eff2f5;
        &.red-wine {
            ellipse.active {
                fill: $wine-red;
            }
        }
        &.white-wine {
            ellipse.active {
                fill: $wine-white;
            }
        }
        &.rose-wine {
            ellipse.active {
                fill: $wine-rose;
            }
        }

        svg {
            @include tablet {
                width: 177px;
                height: 66px;
            }
        }

        ellipse {
            fill: currentColor;
        }
    }
}

.block-auth {
    flex-grow: 1;
    padding-top: 64px;
    height: 100%;
    display: flex;
    padding-bottom: 20px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .block-title {
        @extend .modal-title;
    }

    .form {
        flex-grow: 0;
    }

    .submit-btn {
        margin-top: 40px;
    }

    .social-group {
        margin-top: 24px;
        margin-bottom: auto;
        &-label {
            color: light-dark($grey-lightmode, $grey-darkmode);
            text-align: center;
        }
        &-btns {
            margin-top: 24px;
            display: grid;
            width: 100%;
            gap: 16px;

            svg {
                width: 25px;
                height: 24px;
            }
        }
    }

    .forgot-password-btn {
        margin-top: 32px;
        margin-left: auto;
        color: light-dark($grey-lightmode, $grey-darkmode);
    }
}

.auth-bottom-annotation {
    margin-top: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: light-dark($grey-lightmode, $grey-darkmode);

    @include tablet {
        font-size: 20px;
    }

    span {
        margin-left: 8px;
        font-weight: 600;
        color: light-dark($text-color-lightmode, $text-color-darkmode);

        @include tablet {
            margin-left: 12px;
        }
    }
}
