<div class="modal rtl-modal" id="temperature-guide-modal">
    <div class="modal-body">
        <div class="modal-head">
            <div class="left-group">
                <button class="icon-btn grey-btn modal-close">
                    <svg class="icon">
                        <use href="#icon-arrow-left"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="modal-text">
            <h2 class="modal-title">Ideal Temperature for Wine Storage:</h2>

            <h3>Red Wine</h3>
            <p>
                55°F (13°C) is considered the perfect temperature for aging red wines. Slightly warmer temperatures,
                around 57-59°F (14-15°C), can be acceptable but avoid anything above 65°F (18°C) as it accelerates aging
                and may cause the wine to age prematurely.
            </p>
            <h3>White Wine</h3>
            <p>
                50-55°F (10-13°C) is the ideal range for storing white wines. White wines are generally best stored
                cooler than reds, but not too cold, which could dull their flavors.
            </p>
            <h3>Sparkling Wines & Champagne</h3>
            <p>
                45°F (7°C) is the best for sparkling wines, as it helps preserve their effervescence and delicate
                aromas.
            </p>
            <h3>Port & Dessert Wines</h3>
            <p>
                These wines tend to be stored at around 60°F (15°C), which is slightly warmer than regular reds but
                still within a manageable range for aging.
            </p>
        </div>
    </div>
</div>
